.App {
  text-align: center;
  color: white;
  width: 1000px;
  max-height:100vh;
  max-width: 1000px;
}

/*
Kaikki tästä alaspäin on hupsuttelua,
saa kommentoida pois täysin turvallisesti jos grafiikat ärsyttävät
*/

.funy {
  animation: funy infinite 2s;
  display: inline-block
}


@keyframes funy {
  0% { 
    transform: scaleX(0.7);
  }
  50% {
    transform: scaleX(2);
    color:firebrick;
  }
  100% {
    transform: scaleX(0.7);
  }
}

.spin {
  animation: spin-animation infinite 1.5s linear;
  display: inline-block
}

@keyframes spin-animation {
  0% { 
    transform: rotate(0deg);
    color: yellowgreen
  }
  25% {
    color: yellow
  }
  50% {
    color: blue
  }
  75% {
    color: red
  }
  100% {
    transform: rotate(360deg);
    color: yellowgreen
  }
}

.pulse {
  animation: pulse infinite 1s linear;
  position: relative;
}
.pulse:hover {
  animation: pulse infinite 1s linear, spin-animation infinite 1s linear;
}

@keyframes pulse {
  0% {
    background-color: white;
  }
  50% {
    background-color: crimson;
  }
  100% {
    background-color: white;
  }
}
